<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.lc.dao.ComputerImageMapper">
  <resultMap id="BaseResultMap" type="com.nf.lc.entity.ComputerImage">
    <id column="computer_image_id" jdbcType="INTEGER" property="computerImageId" />
    <result column="computer_id" jdbcType="INTEGER" property="computerId" />
    <result column="computer_image_url" jdbcType="VARCHAR" property="computerImageUrl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from computer_image
    where computer_image_id = #{computerImageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf.lc.entity.ComputerImage">
    insert into computer_image (computer_image_id, computer_id, computer_image_url
      )
    values (#{computerImageId,jdbcType=INTEGER}, #{computerId,jdbcType=INTEGER}, #{computerImageUrl,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.nf.lc.entity.ComputerImage">
    update computer_image
    set computer_id = #{computerId,jdbcType=INTEGER},
      computer_image_url = #{computerImageUrl,jdbcType=VARCHAR}
    where computer_image_id = #{computerImageId,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select computer_image_id, computer_id, computer_image_url
    from computer_image
    where computer_id = #{computerId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select computer_image_id, computer_id, computer_image_url
    from computer_image
  </select>
</mapper>