<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.lc.dao.ComputerMapper">
    <resultMap id="BaseResultMap" type="com.nf.lc.entity.Computer">
        <id column="computer_id" jdbcType="INTEGER" property="computerId"/>
        <result column="computer_describe" jdbcType="VARCHAR" property="computerDescribe"/>
        <result column="computer_price" jdbcType="DECIMAL" property="computerPrice"/>
        <result column="computer_state" jdbcType="INTEGER" property="computerState"/>
        <result column="computer_create_time" jdbcType="TIMESTAMP" property="computerCreateTime"/>
        <association property="brand" resultMap="com.nf.lc.dao.BrandMapper.BaseResultMap"></association>
        <association property="type" resultMap="com.nf.lc.dao.TypeMapper.BaseResultMap"></association>
        <association property="processor" resultMap="com.nf.lc.dao.ProcessorMapper.BaseResultMap"></association>
        <association property="memoryCapacity" resultMap="com.nf.lc.dao.MemoryCapacityMapper.BaseResultMap"></association>
        <association property="hardDisk" resultMap="com.nf.lc.dao.HardDiskMapper.BaseResultMap"></association>
        <association property="computerSystem" resultMap="com.nf.lc.dao.ComputerSystemMapper.BaseResultMap"></association>
        <association property="dimension" resultMap="com.nf.lc.dao.DimensionMapper.BaseResultMap"></association>
        <association property="nvdia" resultMap="com.nf.lc.dao.NvdiaMapper.BaseResultMap"></association>
        <collection property="computerImageList" resultMap="com.nf.lc.dao.ComputerImageMapper.BaseResultMap"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from computer
    where computer_id = #{computerId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="computerId"  parameterType="com.nf.lc.entity.InsertComputerParam">
    insert into computer (computer_describe, computer_price,
      computer_state, brand_id,
      type_id, processor_id, memory_capacity_id,
      hard_disk_id, computer_system_id, dimension_id,
      nvdia_id)
    values (#{computerDescribe,jdbcType=VARCHAR}, #{computerPrice,jdbcType=DECIMAL},
      #{computerState,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER},
      #{typeId,jdbcType=INTEGER}, #{processorId,jdbcType=INTEGER}, #{memoryCapacityId,jdbcType=INTEGER},
      #{hardDiskId,jdbcType=INTEGER}, #{computerSystemId,jdbcType=INTEGER}, #{dimensionId,jdbcType=INTEGER},
      #{nvdiaId,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.nf.lc.entity.UpdateComputerParam">
    update computer
    set computer_price = #{computerPrice,jdbcType=DECIMAL},
      computer_state = #{computerState,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      processor_id = #{processorId,jdbcType=INTEGER},
      memory_capacity_id = #{memoryCapacityId,jdbcType=INTEGER},
      hard_disk_id = #{hardDiskId,jdbcType=INTEGER},
      computer_system_id = #{computerSystemId,jdbcType=INTEGER},
      dimension_id = #{dimensionId,jdbcType=INTEGER},
      nvdia_id = #{nvdiaId,jdbcType=INTEGER}
    where computer_id = #{computerId,jdbcType=INTEGER}
  </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   select * from computer inner join brand on computer.brand_id = brand.brand_id
    inner join `type` on computer.type_id = `type`.type_id
    inner join processor on computer.processor_id = processor.processor_id
    inner join memory_capacity on computer.memory_capacity_id = memory_capacity.memory_capacity_id
    inner join hard_disk on computer.hard_disk_id = hard_disk.hard_disk_id
    inner join computer_system on computer.computer_system_id = computer_system.computer_system_id
     inner join `dimension` on dimension.dimension_id = computer.dimension_id
     inner join `nvdia` on computer.nvdia_id = `nvdia`.nvdia_id
     inner join computer_image on computer.computer_id = computer_image.computer_id
      where computer.computer_id = #{computerId,jdbcType=INTEGER}
  </select>

    <select id="selectAll" parameterType="com.nf.lc.entity.QueryDataParameter" resultMap="BaseResultMap">
    select * from computer
	inner join brand on computer.brand_id = brand.brand_id
	inner join `type` on computer.type_id = `type`.type_id
	inner join processor on computer.processor_id = processor.processor_id
	inner join memory_capacity on computer.memory_capacity_id = memory_capacity.memory_capacity_id
	inner join hard_disk on computer.hard_disk_id = hard_disk.hard_disk_id
	inner join computer_system on computer.computer_system_id = computer_system.computer_system_id
	inner join `dimension` on dimension.dimension_id = computer.dimension_id
	inner join `nvdia` on computer.nvdia_id = `nvdia`.nvdia_id
	inner join computer_image on computer.computer_id = computer_image.computer_id
     <where>
        <if test="brand != 0">
           and  brand.brand_id = #{brand}
        </if>
         <if test="type != 0">
            and  `type`.type_id = #{type}
         </if>
         <if test="processor != 0">
             and  processor.processor_id = #{processor}
         </if>
         <if test="memoryCapacity != 0">
             and  memory_capacity.memory_capacity_id =  #{memoryCapacity}
         </if>
         <if test="hardDisk != 0">
             and  hard_disk.hard_disk_id = #{hardDisk}
         </if>
         <if test="computerSystem != 0">
             and  computer_system.computer_system_id = #{computerSystem}
         </if>
         <if test="dimension != 0">
             and  `dimension`.dimension_id = #{dimension}
         </if>
         <if test="nvdia != 0">
             and  nvdia.nvdia_id = #{nvdia}
         </if>
         and computer.computer_state = 0
     </where>
	group by computer.computer_id
	limit #{page},#{count}
    </select>

    <select id="selectCount" parameterType="com.nf.lc.entity.QueryDataParameter" resultType="int">
        select count(*) from (
        select
        computer.computer_id
        from computer
        inner join brand on computer.brand_id = brand.brand_id
        inner join `type` on computer.type_id = `type`.type_id
        inner join processor on computer.processor_id = processor.processor_id
        inner join memory_capacity on computer.memory_capacity_id = memory_capacity.memory_capacity_id
        inner join hard_disk on computer.hard_disk_id = hard_disk.hard_disk_id
        inner join computer_system on computer.computer_system_id = computer_system.computer_system_id
        inner join `dimension` on dimension.dimension_id = computer.dimension_id
        inner join `nvdia` on computer.nvdia_id = `nvdia`.nvdia_id
        inner join computer_image on computer.computer_id = computer_image.computer_id
        <where>
            <if test="brand != 0">
                and brand.brand_id = #{brand}
            </if>
            <if test="type != 0">
                and `type`.type_id = #{type}
            </if>
            <if test="processor != 0">
                and processor.processor_id = #{processor}
            </if>
            <if test="memoryCapacity != 0">
                and memory_capacity.memory_capacity_id =  #{memoryCapacity}
            </if>
            <if test="hardDisk != 0">
                and hard_disk.hard_disk_id = #{hardDisk}
            </if>
            <if test="computerSystem != 0">
                and computer_system.computer_system_id = #{computerSystem}
            </if>
            <if test="dimension != 0">
                and `dimension`.dimension_id = #{dimension}
            </if>
            <if test="nvdia != 0">
                and  nvdia.nvdia_id = #{nvdia}
            </if>
            and computer.computer_state = 0
        </where>
        group by computer.computer_id ) a
    </select>


    <select id="selectLikeDescribe" resultMap="BaseResultMap" parameterType="com.nf.lc.entity.SelectLikePrams">
        select * from computer inner join brand on computer.brand_id = brand.brand_id
        inner join `type` on computer.type_id = `type`.type_id
        inner join processor on computer.processor_id = processor.processor_id
        inner join memory_capacity on computer.memory_capacity_id = memory_capacity.memory_capacity_id
        inner join hard_disk on computer.hard_disk_id = hard_disk.hard_disk_id
        inner join computer_system on computer.computer_system_id = computer_system.computer_system_id
         inner join `dimension` on dimension.dimension_id = computer.dimension_id
         inner join `nvdia` on computer.nvdia_id = `nvdia`.nvdia_id
         inner join computer_image on computer.computer_id = computer_image.computer_id
         where computer.computer_state = 0
         group by computer.computer_id
         having  computer.computer_describe like #{likeStr} limit #{page},#{count}
    </select>

    <select id="selectLikeDescribeCount" resultType="int"  parameterType="com.nf.lc.entity.SelectLikePrams">
        select count(*) from `computer`
        where computer.computer_describe like #{likeStr} and computer.computer_state = 0
    </select>

    <select id="selectAllByComputerState" parameterType="int" resultMap="BaseResultMap">

    select computer.computer_id,computer.computer_describe,computer.computer_price,computer.computer_state,computer.computer_create_time,
    brand.*,`type`.*,processor.*,memory_capacity.*,hard_disk.*,computer_system.*,`dimension`.*,`nvdia`.*,
    computer_image.computer_image_id,computer_image.computer_image_url
    from computer
    inner join brand on computer.brand_id = brand.brand_id
    inner join `type` on computer.type_id = `type`.type_id
    inner join processor on computer.processor_id = processor.processor_id
    inner join memory_capacity on computer.memory_capacity_id = memory_capacity.memory_capacity_id
    inner join hard_disk on computer.hard_disk_id = hard_disk.hard_disk_id
    inner join computer_system on computer.computer_system_id = computer_system.computer_system_id
    inner join `dimension` on dimension.dimension_id = computer.dimension_id
    inner join `nvdia` on computer.nvdia_id = `nvdia`.nvdia_id
    inner join computer_image on computer.computer_id = computer_image.computer_id
    <where>
        <if test="computerState == 0 or computerState == 1">
            computer.computer_state = #{computerState}
        </if>
    </where>
    group by computer.computer_id

    </select>

    <select id="selectAllByComputerStateCount" resultType="int" parameterType="int">
        select count(*) from computer
        inner join brand on computer.brand_id = brand.brand_id
        inner join `type` on computer.type_id = `type`.type_id
        inner join processor on computer.processor_id = processor.processor_id
        inner join memory_capacity on computer.memory_capacity_id = memory_capacity.memory_capacity_id
        inner join hard_disk on computer.hard_disk_id = hard_disk.hard_disk_id
        inner join computer_system on computer.computer_system_id = computer_system.computer_system_id
        inner join `dimension` on dimension.dimension_id = computer.dimension_id
        inner join `nvdia` on computer.nvdia_id = `nvdia`.nvdia_id
        <where>
            <if test="computerState != -1">
                computer.computer_state = #{computerState}
            </if>
        </where>
    </select>

</mapper>