<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.lc.dao.MemoryCapacityMapper">
  <resultMap id="BaseResultMap" type="com.nf.lc.entity.MemoryCapacity">
    <id column="memory_capacity_id" jdbcType="INTEGER" property="memoryCapacityId" />
    <result column="memory_capacity_name" jdbcType="VARCHAR" property="memoryCapacityName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from memory_capacity
    where memory_capacity_id = #{memoryCapacityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf.lc.entity.MemoryCapacity">
    insert into memory_capacity (memory_capacity_id, memory_capacity_name
      )
    values (#{memoryCapacityId,jdbcType=INTEGER}, #{memoryCapacityName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf.lc.entity.MemoryCapacity">
    update memory_capacity
    set memory_capacity_name = #{memoryCapacityName,jdbcType=VARCHAR}
    where memory_capacity_id = #{memoryCapacityId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select memory_capacity_id, memory_capacity_name
    from memory_capacity
    where memory_capacity_id = #{memoryCapacityId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select memory_capacity_id, memory_capacity_name
    from memory_capacity
  </select>
</mapper>