<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.lc.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.nf.lc.entity.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="shopping_cart_id" jdbcType="INTEGER" property="shoppingCartId" />
    <result column="order_total_price" jdbcType="DECIMAL" property="orderTotalPrice" />
    <result column="order_create_time" jdbcType="TIMESTAMP" property="orderCreateTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf.lc.entity.Order">
    insert into order (order_id, order_number, address_id, 
      shopping_cart_id, order_total_price, order_create_time, 
      user_id)
    values (#{orderId,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{addressId,jdbcType=INTEGER}, 
      #{shoppingCartId,jdbcType=INTEGER}, #{orderTotalPrice,jdbcType=DECIMAL}, #{orderCreateTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf.lc.entity.Order">
    update order
    set order_number = #{orderNumber,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=INTEGER},
      shopping_cart_id = #{shoppingCartId,jdbcType=INTEGER},
      order_total_price = #{orderTotalPrice,jdbcType=DECIMAL},
      order_create_time = #{orderCreateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select order_id, order_number, address_id, shopping_cart_id, order_total_price, order_create_time, 
    user_id
    from order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select order_id, order_number, address_id, shopping_cart_id, order_total_price, order_create_time, 
    user_id
    from order
  </select>
</mapper>