<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.lc.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.nf.lc.entity.User">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_account_number" jdbcType="VARCHAR" property="userAccountNumber"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_nickname" jdbcType="VARCHAR" property="userNickname"/>
        <result column="user_state" jdbcType="INTEGER" property="userState"/>
        <result column="user_create_time" jdbcType="TIMESTAMP" property="userCreateTime"/>
        <result column="user_head_portrait" jdbcType="VARCHAR" property="userHeadPortrait"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.nf.lc.entity.User">
    insert into user (user_account_number, user_password, user_nickname)
    values ( #{userAccountNumber,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userNickname,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.nf.lc.entity.User">
    update user
    set
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_head_portrait = #{userHeadPortrait,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKeyToState" parameterType="com.nf.lc.entity.User">
        update user
        set
        user_state = #{userState,jdbcType=INTEGER}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateResetUserPassword" parameterType="int">
       update user
        set
        user_password = '654321'
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

    <select id="exportUser" resultType="com.nf.lc.entity.User">
        select * from  user
        <where>
            <if test="userState == 1 or userState == 0">
                user_state = #{userState}
            </if>
        </where>
        limit #{start},#{end}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
    <select id="selectAll" parameterType="int" resultMap="BaseResultMap">
        select * from user
        <where>
            <if test="userState == 1 or userState == 0">
                user_state = #{userState}
            </if>
        </where>
  </select>

    <select id="loginVerify" parameterType="com.nf.lc.entity.User" resultMap="BaseResultMap">
    select * from user
    where user_account_number = #{userAccountNumber}
    and user_password = #{userPassword}
  </select>

   <select id="selectAccountNumber" parameterType="com.nf.lc.entity.User" resultMap="BaseResultMap">
       select * from user where user_account_number = #{userAccountNumber}
   </select>

    <select id="selectVerifyState" parameterType="com.nf.lc.entity.User" resultMap="BaseResultMap">
        select * from user where user_account_number = #{userAccountNumber} and 	user_state = 1
    </select>

    <select id="selectByUserAccountNumber" resultType="com.nf.lc.entity.User">
        select * from user where user_account_number = #{userAccountNumber}
    </select>

    <select id="selectUserCountIsState" parameterType="integer" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="userState == 1 or userState == 0">
                user_state = #{userState}
            </if>
        </where>
    </select>


</mapper>